.overgrad{
  background: linear-gradient(180deg, rgba(207, 230, 253, 0) 75%, #CFE6FD 95%);
  mix-blend-mode: lighten;
  position: fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  pointer-events: none;
}

.vh{
  height: 100vh;
}

button {
  -webkit-appearance: none;
}

main {
  background: url("/mat/circ.svg");
  background-position: 50% 50%;
  background-size: 190% 190%;
}

.lenti {
  border-radius: 100%;
  width: 10vw;
  height: 10vw;
  pointer-events: none;

  background: rgba(255, 255, 255, 0.5);
  mix-blend-mode: luminosity;
  border: 2px solid #fff;
  box-sizing: border-box;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);

  position: absolute;
  z-index: 10;
}

.lenti.x3 {
  width: 30vw;
  height: 30vw;
}

.lenti:nth-child(1) {
  top: 40vw;
  right: 10vw;
}

.lenti:nth-child(2) {
  top: 60vw;
  right: 45vw;
}

.lenti:nth-child(3) {
  top: 87vw;
  right: 0vw;
}

@media only screen and (max-width: 765px) {
  .lenti {
    background: rgba(255, 255, 255, 0.5);
    mix-blend-mode: luminosity;
    border: 2px solid #fff;
    box-sizing: border-box;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
  }

  .lenti:nth-child(1) {
    top: 60vw;
    right: 10vw;
  }

  .lenti:nth-child(2) {
    top: 90vw;
    right: 87vw;
  }

  .lenti:nth-child(3) {
    top: 124vw;
    right: 0vw;
  }
}

.home {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-column-gap: 0px;
  grid-row-gap: 72px;
}

.grid__item .item__img img {
  width: 100%;
}

.grid__item.wide {
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
}

.intro {
  display: block;
  grid-row-start: 1;
  margin-top: 25vw;
  height: auto;
}

.intro__des {
  font-size: 2em;
  line-height: 1.5;
  text-align: left;
  font-family: "Baskerville", sans-serif;
  color: #303030;
  font-weight: 300;
}

.intro__des {
  transition: 0.5s;
  transform: skew(-7deg) rotatez(7deg) translatey(10vw);
  animation: intro__des 0.7s ease-out forwards 0.2s;
}

@keyframes intro__des {
  0% {
    transform: skew(-7deg) rotatez(7deg) translatey(17vw);
  }
  100% {
    transform: skew(0) rotatez(0deg) translatey(0);
  }
}

@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

.intro__des i {
  text-decoration: underline;
}

.sixth {
  grid-column-start: 6;
  grid-column-end: span 7;
}

@media only screen and (max-width: 768px) {
  .sixth {
    grid-column-start: 1;
    grid-column-end: span 12;
    padding: 0 12px;
  }

  .intro__des {
    font-size: 4.7vw;
    line-height: 1.5;
    text-align: left;
    font-family: "Baskerville", sans-serif;
    color: #303030;
    font-weight: 300;
  }
}
.collections {
  grid-row-start: 2;

  font-family: "Baskerville", sans-serif;
  font-style: italic;
  text-align: center;
}

.collection__item {
  position: relative;

  margin: 24px 0;
  background: transparent;
  transition: all 0.7s ease;
}

.collection__item a {
  width: -webkit-fill-available;
  padding: 9vw 42px;
  filter: opacity(100%);
  transition: filter 0.7s ease;
}

@media only screen and (max-width: 765px) {
  .collection__item a {
    padding: 17vw 42px;
  }
}

.collection__active {
  transform: scale(1.07) perspective(300px);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}

.collection__item a:hover,
.collection__active a {
  filter: opacity(30%);
}

.collection__item::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;

  filter: grayscale(100%) opacity(30%);
  transition: filter 0.7s ease;

  background-repeat: no-repeat;
}

.collection__item:hover::before,
.collection__active::before {
  filter: grayscale(0%) opacity(100%);
}

._1::before {
  background: url("/mat/home/pg/t.png");
  background-size: 100% auto;
  background-position: 0% 42%;
}

._2::before {
  background: url("/mat/home/pg/t0.png");
  background-size: 100% auto;
  background-position: 0% 42%;
}

._3::before {
  background: url("/mat/home/pg/t1.png");
  background-size: 100% auto;
  background-position: 0% 42%;
}

._4::before {
  background: url("/mat/home/pg/t2.png");
  background-size: 100% auto;
  background-position: 0% 42%;
}

._5::before {
  background: url("/mat/home/pg/t4.png");
  background-size: 100% auto;
  background-position: 0% 42%;
  background-repeat: no-repeat;
}

._6::before {
  background: url("/mat/home/pg/c.png");
  background-size: 100% auto;
  background-position: 0% 42%;
}

._7::before {
  background: url("/mat/home/pg/discovery.png");
  background-size: 100% auto;
  background-position: 0% 42%;
}

._8::before {
  background: url("/mat/home/pg/t6.png");
  background-size: 100% auto;
  background-position: 0% 42%;
}

._9::before {
  background: url("/mat/home/pg/t7.png");
  background-size: 100% auto;
  background-position: 0% 42%;
}

._10::before {
  background: url("/mat/home/pg/t8.png");
  background-size: 100% auto;
  background-position: 0% 68%;
}

._1:before,
._2:before,
._3:before,
._4:before,
._5:before,
._6:before,
._7:before,
._8:before,
._9:before {
  background-repeat: no-repeat;
}

.collection__title {
  font-size: 42px;
  margin: 0;
  font-weight: 300;
}

.collection__date {
  font-size: 18px;
}

.collection__sd {
  font-size: 12px;
  margin: 12px auto;
}

footer {
  grid-row-start: 3;
}

footer h2 {
  font-size: 72px;
}

@media only screen and (max-width: 1072px) {
  footer .flex {
    flex-direction: column;
  }

  .footer__contact {
    align-self: flex-start;
    transform: translatey(0px);
    margin-top: 24px;
    margin-left: 0;
  }
}
